@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

:root {
  --primary-color: #007AF3;
}

body {
  background: #F2F2F2;
  margin: 0;
  font-family: 'Poppins';
}

.navbar {
  background: white;
  padding: 1rem;

  .logo {
    text-decoration: none;
    font-weight: bold;
    color: black;
    font-size: 1.2rem;

    span {
      color: var(--primary-color);
    }
  }

  nav {
    display: none;
  }

  .container {
    display: flex;
    place-content: space-between;
  }
  .mobile-menu {
    cursor: pointer;
  }
}

a {
  color: #444444;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

section {
  padding: 5rem 2rem;
}

.hero {
  text-align: center;
}

.left-col {
  .subhead {
    text-transform: uppercase;
    font-weight: bold;
    color: gray;
    letter-spacing: .3rem;
  }
  h1 {
    font-size: 2.5rem;
    line-height: 3.3rem;
    margin-top: 1.2rem;
  }

  .primary-cta {
    background: var(--primary-color);
    color: white;
    text-decoration: none;
    padding: .6rem 1.3rem;
    font-size: 1.4rem;
    border-radius: 5rem;
    font-weight: bold;
    display: inline-block;
  }

  .watch-video-cta {
    display: block;
    margin-top: 1rem;

    img {
      margin-right: .5em;
    }
  }
}

.hero-img {
  width: 70%;
  margin-top: 3rem;
}

section.features-section {
  background: #20272E;
  color: white;
}

ul.features-list {
  margin: 0;
  padding-left: 1rem;
  display: grid;

  li {
    font-size: 1.1rem;
    margin-bottom: 1rem;
    margin-left: 2rem;
    position: relative;

    &:before {
      content: '';
      left: -2rem;
      position: absolute;
      width: 20px;
      height: 20px;
      background-image: url(../images/bullet.svg);
      background-size: contain;
      margin-right: .5rem;

    }
  }
}

.features-section img {
  display: none;

}

.testimonials-section {
  background: var(--primary-color);
  color: white;

  li {
    background: #006BD6;
    text-align: center;
    padding: 2rem 1rem;
    width: 80%;
    margin: 0 auto 5rem auto;
    border-radius: 1rem;


    img {
    width: 5rem;
    height: 5rem;
    border: 5px solid #006BD6;
    border-radius: 50%;
    margin-top: -4.5rem;
    }

  }
}

h2 {
  font-size: 2rem;
}

label {
  display: block;
  font-size: 1.2rem;
  margin-bottom: .5rem;
}

input, textarea {
  width: 100%;
  padding: .8em;
  margin-bottom: 1rem;
  border-radius: .3em;
  border: 1px solid gray;
  box-sizing: border-box;
}

input[type="submit"]{
  background-color: var(--primary-color);
  color: white;
  font-weight: bold;
  font-size: 1.3rem;
  border: none;
  margin-bottom: 5rem;
  border-radius: 5rem;
  display: inline-block; 
  padding: .8rem 2rem;
  width: unset;
  cursor: pointer; 
}

iframe {
  width: 100%;
  height: 300px;
}

nav.menu-btn {
  display: block;
}

nav {
  position: fixed;
  z-index: 999;
  width: 666;
  right: 0;
  top: 0;
  background: #20272E;
  height: 100vh;
  padding: 1rem;

  ul.primary-nav {
    margin-top: 5rem;
  }

  li {
    a {
      color: white;
      text-decoration: none;
      display: block;
      padding: .5rem;
      font-size: 1.3rem;
      text-align: right;

      &:hover {
        font-weight: bold;
      }
    }
  }
}

.mobile-menu-exit {
  float: right;
  margin: .5rem;
  cursor: pointer;
}